<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('css', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ luthier.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if listings !=[] %}

		<a href = "{{url_for('newCelloItem', luthier_id = luthier.id )}}">Create New Listing</a>
	</br></br>

	<h2>Beginner</h2>

		{% for i in listings %}
		{% if i.classification == 'Beginner' %}

		<p>{{i.model}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<p>{{i.year}}</p>
		<p>{{i.country}}</p>
	
		<a href='{{url_for('editCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}

		

		</br></br>

	<h2>Student</h2>

		{% for i in listings %}
		{% if i.classification == 'Student' %}

		<p>{{i.model}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<p>{{i.year}}</p>

		<p>{{i.country}}</p>
	
		<a href='{{url_for('editCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Advanced</h2>

		{% for i in listings %}
		{% if i.classification == 'Advanced' %}

		<p>{{i.model}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<p>{{i.year}}</p>
		
		<p>{{i.country}}</p>
	
	
		<a href='{{url_for('editCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Master</h2>

		{% for i in listings %}
		{% if i.classification == 'Master' %}

		<p>{{i.model}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<p>{{i.year}}</p>
		
		<p>{{i.country}}</p>
	

		<a href='{{url_for('editCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteCelloItem', luthier_id = luthier.id, cello_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endif %}

		{% endfor %}
		
		

		{% else %}
		<p> You currently have no cello listings. <p>
		<a href = "{{url_for('newCelloItem', luthier_id = luthier.id )}}">Create New Listing</a>
			{% endif %}
</div>
	</body>

</html>