{% extends "main.html" %} 

{% block content %}
    
        <div class="container">
            <p>Click table row to view details</p>
            <table>
                <thead>
                    <tr>
                        <th>Cello</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>  Luthier  </th>
                        <th>  Country of Origin    </th>
                        <th>Classification</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cello in cellos %}
                    <tr>
                        <td>{{  cello.id  }}</td>
                        <td>{{  cello.model  }}</td>
                        <td>{{  cello.price  }}</td>
                        <td>{{  cello.luthier_id  }}</td>
                        <td>{{    cello.country  }}</td>
                        <td>{{  cello.classification  }}</td>
                        <td><a href="{{url_for('showcellos', luthier_id = luthier.id)}}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary">Add Cello</button>
        </div>

{% endblock %}