<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body><h1> Edit Cello Item </h1>

<form action="{{ url_for('editcelloitem',luthier_id = luthier_id, cello_id=item.id)}}" method = 'post'>

<dl>

	<dt>Model:</dt>
		<dd><input type ='text' size='30' name='model' placeholder = '{{item.model }}'></dd>
	<dt>Description:</dt>
		<dd><input type ='text' size='30' name='description' placeholder = '{{item.description}}'></dd>
	<dt>Price:</dt>
		<dd><input type ='text' size='30' name='price' placeholder = '{{item.price}}'></dd>
	<dt>Year:</dt>
		<dd><input type ='text' size='30' name='year' placeholder = '{{item.year}}'></dd>	
	<dt>Country:</dt>
		<dd><input type ='text' size='30' name='country' placeholder = '{{item.country}}'></dd>		
	<dt>Classification:</dt>

	{% if item.classification == 'Appetizer' %}
			<dd><input type ='radio' name='classification' value='Beginner' checked>Beginner</dd>
		
		{%else%}
		<dd><input type ='radio' name='classification' value='Beginner' >Beginner</dd>
	    {% endif %}

	    {% if item.classification == 'Entree' %}
	       <dd><input type ='radio' name='classification' value='Student' checked>Student</dd>

	    {%else%}
			<dd><input type ='radio' name='classification' value='Student'>Student</dd>
	    {% endif %}

		{% if item.classification == 'Dessert'%}
			<dd><input type ='radio' name='classification' value='Advanced' checked>Advanced</dd>

		{% else %}
		   <dd><input type ='radio' name='classification' value='Advanced'>Advanced</dd>

		{% endif %}


		{%if item.classification =='Beverage'%}
			<dd><input type ='radio' name='classification' value='Master' checked>Master</dd>
		{% else %}
			<dd><input type ='radio' name='classification' value='Master'>Master</dd>
		{% endif %}

</dl>

<input type='submit' value='Edit'>


<a href = '{{ url_for('luthierinventory',luthier_id = luthier_id)}}'> OOPS!  JK JK! </a>


</form>
</body>
</html>