{% extends "main.html" %}
{% block content %}

	<div class="main">

		<div class="top banner row">

			<h1> Edit Item {{item.name}} </h1>

		</div>


		<div class="row">

			<form action="{{ url_for('edititem', item_id=item.id)}}" method = 'post'>

					<dl>

						<label for="model">Model:</label>
							
						<input type ="text" size="30" id="model" value="{{item.model }}">

							<label for="description">Description:</label>
							<input type ="text" size="30" id="description" value="{{item.description }}">
							
							<label for="price">Price:</label>
							<input type ="text" size="30" id="price" value="{{item.price }}">
							
							<label for="year">Year:</label>
							<input type ="text" size="30" id="year" value="{{item.year }}">
							
							<label for="country">Country:</label>
							<input type ="text" size="30" id="country" value="{{item.country }}">
							

							<label for="classification">Classification:</label>

							{% if item.classification == 'Beginner' %}
									<dd><input type ='radio' name='classification' value='Beginner' checked>Beginner</dd>
								
								{%else%}
								<dd><input type ='radio' name='classification' value='Beginner' >Beginner</dd>
							    {% endif %}

							    {% if item.classification == 'Student' %}
							       <dd><input type ='radio' name='classification' value='Student' checked>Student</dd>

							    {%else%}
									<dd><input type ='radio' name='classification' value='Student'>Student</dd>
							    {% endif %}

								{% if item.classification == 'Advanced'%}
									<dd><input type ='radio' name='classification' value='Advanced' checked>Advanced</dd>

								{% else %}
								   <dd><input type ='radio' name='classification' value='Advanced'>Advanced</dd>

								{% endif %}


								{%if item.classification =='Master'%}
									<dd><input type ='radio' name='classification' value='Master' checked>Master</dd>
								{% else %}
									<dd><input type ='radio' name='classification' value='Master'>Master</dd>
								{% endif %}

						</dl>

						<input type='submit' value='Edit'>

			</form>

	</div>

{% endblock %}