<!DOCTYPE html>

<html lang="en-US">

<link rel="stylesheet" type="text/css" href="styles.css">


<head>
	<meta charset="UTF-8" />
	
	<title>Edit</title>

		
</head>

<body>

	<h1>Edit </h1>


<form action="{{ url_for('editluthier')}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{editluthier}}'>


<input type='submit' value='Edit'>


<a href = "{{url_for('showluthiers')}}"> Cancel </a>

</form>

		<ol>
			<li>Junk</li>
			<li>Another Thing</li>
			<li>And Finally</li>
			<li>I dislike this</li>
		</ol>
</body>

</html>