<!DOCTYPE html>

<head>

</head>

  <body>
    <form method="POST" action="/">
	  <strong><p> Add A Cello </p></strong>	
      <p> Model: </p><input type="text" name="model">
      <p> Description: </p><input type="text" name="description">
      <p> Price: </p><input type="text" name="price">      
      <p> Year Built: </p><input type="text" name="year">       
      <p> Country of Origin: </p><input type="text" name="country">
      <p> Classification: </p><input type="text" name="classification">                              
      <input type="submit" value="Add">
    </form>
  </body>
</html>