{% extends "main.html" %} 

{% block content %}

<div class="album text-muted">

    <div class="container">
        <p>Click row to view details</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year Built</th>
                    <th>Country of Origin</th>
                    <th>Price</th>  
                    <th>Links</th>                          
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td class="align-middle">{{ item.model }}</td>
                    <td class="align-middle">{{ item.year }}</td>
                    <td class="align-middle">{{ item.country }}</td>                    
                    <td class="align-middle">{{ item.price }}</td>                    
                    <td><a href="{{url_for('editcello', item_id = item.id)}}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Add cello</button>
    </div>

</div>

{% endblock %}