<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>Cello Luthiers</h1>

<a href="{{url_for('newluthier')}}" > <h3> Add A New Luthier </h3> </a>

{% for luthier in luthiers %}



<a href = "{{url_for('showluthiers', luthier_id = luthier.id)}}"> <p><strong>{{luthier.name}}</strong></p></a>


<p><a href = "{{url_for('editluthier',luthier_id = luthier.id)}}">Edit Luthier</a></p>

<p> <a href = "{{url_for('deleteluthier',luthier_id = luthier.id)}}">Delete Luthier</a> </p>



{% endfor %}

</div>
</body>

</html>