<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Cello</h1>

<form action="#" method = 'post'>

	<p>Model:</p>
		<input type ='text' size='30' name='model'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Price:</p>
		<input type ='text' size='30' name='price'>	
	<p>Year:</p>
		<input type ='text' size='30' name='year'>
	<p>Country:</p>
		<input type ='text' size='30' name='country'>
	<p>Classification:</p>
		<input type ='radio'  name='classification' value ='Beginner'>Beginner</br>
		<input type ='radio'  name='classification' value ='Student'>Student</br>
		<input type ='radio' name='classification' value ='Advanced'>Advanced</br>
		<input type ='radio'  name='classification' value ='Master'>Master</br>	

	</br>

	<a href="{{url_for('showluthiers')}}"><input type='submit' value='Add New Cello'> </a>

</form>

</body>
</html>
