{% extends "main.html" %} 

{% block content %}

<div class="album text-muted">

    <div class="container">
        <p>Click row to view details</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Year Built</th>
                    <th>Country of Origin</th>
                    <th>Price</th>                    
                </tr>
            </thead>
            <tbody>
                {% for cello in cellos %}
                <tr>
                    <td class="align-middle">{{ cello.model }}</td>
                    <td class="align-middle">{{ cello.year }}</td>
                    <td class="align-middle">{{ cello.country }}</td>                    
                    <td class="align-middle">{{ cello.price }}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Add cello</button>
    </div>

</div>

{% endblock %}